.container {
  display: flex;
  align-items: center;
  justify-items: center;
}
.googleBtn {
  background-color: #db4437;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 80%;
}

.googleLogo {
  width: 20px;
  height: 20px;
}
