* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Set a fixed height */
  padding: 15px 30px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo {
  height: 100px;
  object-fit: contain;
}

.searchBar {
  left: 300px;
  height: 45px;
  width: 800px;
  margin: 0 20px;
  padding: 8px;
  border: 3px solid rgb(0, 6, 122);
  border-radius: 4px;
  background-color: white;
  caret-color: black;
}

.authButtons {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Login Button (Style) */
.loginButton {
  padding: 0 15px;
  width: 140px;
  height: 45px;
  background: rgb(0, 6, 125);
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.loginButton:hover {
  color: black;
}

.loginButton:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.loginButton:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  transition: all 0.5s;
}

/* Signup Button (Style from btn-1) */
.signupButton {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 0.8rem 2rem;
  position: relative;
  text-transform: uppercase;
  background-color: #000a7c;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
}

.original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.3s cubic-bezier(0.87, 0, 0.13, 1);
}

.signupButton:hover .original {
  transform: translateY(100%);
}

.letters {
  display: inline-flex;
}

.letters span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.3s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.3s;
}

.letters span:nth-child(2n) {
  transform: translateY(15px);
}

.signupButton:hover span {
  opacity: 1;
  transform: translateY(0);
}

.signupButton:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.signupButton:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.signupButton:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.signupButton:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.signupButton:hover span:nth-child(6) {
  transition-delay: 0.5s;
}